{% extends 'header.html' %}}
 {% block css %}
     <link rel="stylesheet" href="../static/css/korzina.css">
 {% endblock %}
{% block content %}
<div class="matla1">
    <h1 class="cla">Главная</h1>
    <div class="tusu"></div>
    <h1 class="lh">Корзина</h1>
</div>
<div class="hl2">корзина</div>
<div class="sola1">
    <h1 class="otva">Наименование</h1>
    <h1 class="xrak">Цена</h1>
    <h1 class="otziv">Количество</h1>
    <h1 class="dokumnet">Сумма</h1>
</div>
<div class="chizu"></div>
<div class="tavarla">
    <div class="nazavina">
        <div class="rasm"></div>
        <div class="yozu">
            <h1>LH200-G Таль ручная рычажная HITCH</h1>
            <div class="yozu2">
            <h1>В наличии</h1>
                <p>Артикул: 5344538926</p>
            </div>
        </div>
    </div>
    <div class="narx">
        <h1>9 390 Р</h1>
    </div>
    <div class="kolichestva">
        <div class="minus"></div>
        <div class="nechta"></div>
        <div class="plus">+</div>
    </div>
    <div class="obshi">140 480 Р
    </div>
    <div class="iks"></div>
</div>
<div class="chizu"></div>
<div class="tavarla">
    <div class="nazavina">
        <div class="rasm"></div>
        <div class="yozu">
            <h1>LH200-G Таль ручная рычажная HITCH</h1>
            <div class="yozu2">
                <h1>В наличии</h1>
                <p>Артикул: 5344538926</p>
            </div>
        </div>
    </div>
    <div class="narx">
        <h1>9 390 Р</h1>
    </div>
    <div class="kolichestva">
        <div class="minus"></div>
        <div class="nechta"></div>
        <div class="plus">+</div>
    </div>
    <div class="obshi">140 480 Р
    </div>
    <div class="iks"></div>
</div>
<div class="chizu"></div>
<div class="tavarla">
    <div class="nazavina">
        <div class="rasm"></div>
        <div class="yozu">
            <h1>LH200-G Таль ручная рычажная HITCH</h1>
            <div class="yozu2">
                <h1 style="color: #ff0000;">Под заказ</h1>
                <p>Артикул: 5344538926</p>
            </div>
        </div>
    </div>
    <div class="narx">
        <h1>9 390 Р</h1>
    </div>
    <div class="kolichestva">
        <div class="minus"></div>
        <div class="nechta"></div>
        <div class="plus">+</div>
    </div>
    <div class="obshi">140 480 Р
    </div>
    <div class="iks"></div>
</div>




<div class="ochistka">
    <div class="ochistka1">
        <div class="iksqiz"></div>
        <h1>Очистить корзину</h1>
    </div>
    <div class="ochistka2">
        <h1>Вес: 145 кг</h1>
        <h2>Итого: 140 480 Р</h2>
    </div>
</div>
<div class="prodolji">
    <h1>Продолжить покупки</h1>
    <div class="vkorzina">
        <a href="ofor.html">В корзину</a>
    </div>
</div>
<div class="dostavka">
    <h1>доставка и оформление</h1>
    <p>Правила работы с корзиной (Маркетинг > Товарный маркетинг > Правила работы с корзиной) позволяют задавать различные варианты условий применения скидок (наценок) к товарам, торговым предложениям или комплектам.
        На странице видим список уже созданных правил работы с корзиной, сконвертированные скидки из каталога и скидки, созданные через пресеты . Для редактирования скидок, созданных через пресеты, открывается форма соответствующего мастера, а для редактирования остальных правил - форма, описанная ниже.
        Давайте создадим новое правило. Допустим, нам нужно создать скидку на футболки при их покупке от двух штук, которая действует в течение месяца. Для этого нажимаем кнопку Добавить правило.

    </p>
    <h2>Читать полностью</h2>
</div>
<div class="menu9">
    <h1 class="yozuv">Узнавайте о скидках первыми</h1>
    <div class="gmail">
        <input  type="email" placeholder="Email">
        <button>подписаться</button>
    </div>
</div>
<footer class="suka">
    <div class="footer">

        <div class="fut1">
            <img src="../static/images/icon.png">
            <h2>Новосибирск</h2>
            <h2>пн-пт 10:00 – 20:00</h2>
            <h1>+7 (800) 000-00-10</h1>
            <h1>hello@hitch.ru</h1>
        </div>
        <div class="fut2">
            <h2>Каталог</h2>
            <h1>Системы крепления грузов</h1><h1> Стропы текстильнык </h1> <h1> Тали ручные рычажные </h1><h1> Тали ручные цепные </h1><h1> Тележки для талей </h1> Буксировочные приспособления</h1>
        </div>
        <div class="fut3">
            <h2>О Hitch</h2>
            <h1>Контакты</h1>
            <h1> Реквизиты</h1>
            <h1>  Производство</h1>
            <h1>  Академия HITCH</h1>
            <h1>  Работа у нас</h1>
        </div>
        <div class="fut4">
            <h2>Покупателям</h2>
            <h1>Как оформить заказ</h1>
            <h1>   Оплата и доставка </h1>
            <h1>  Магазины</h1>
            <h1> Сервисные центры</h1>
        </div>
        <div class="fut5">
            <h2>Партнерам</h2>
            <h1 style="color: #99FE00">    Личный кабинет</h1>
            <h1>    Оптовым клиентам</h1>
            <h1>Франшиза</h1>
        </div>
    </div>
</footer>

{% endblock %}