{% extends 'header.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/css/index.css">
{% endblock %}
{% block content %}
    <section class="section home">
        <div class="homechap">
            <h6 class="soz"><span class="soz2">А как иначе?</span>
                Ручная цепная таль CH200-G</h6>
            <div class="pasthom">
                <h1 class="sena">от 10 204 ₽</h1>
                <a class="kupit" href="sranitsa.html"><h1 class="kupitt">Купить</h1></a>
            </div>
        </div>
        <img src="../static/images/toroz.png" class="toroz">
    </section>
    <section class="m2">
        <h1 class="naydi">Найдите подходящее оборудование</h1>
        <div class="menus">
            <div class="div">
                <h1 class="menustext">Системы креплеения грузов</h1>
                <img class="menusimg" src="../static/images/1232.png">
            </div>
            <div class="div">
                <h1 class="menustext">Стропы </h1>
                <img class="menusimg" src="../static/images/12.png">
            </div>
            <div class="div">
                <h1 class="menustext">Тали ручные рычажные</h1>
                <img class="menusimg" src="../static/images/116.png">
            </div>
            <div class="div">
                <h1 class="menustext">Тали ручные цепные</h1>
                <img class="menusimg" src="../static/images/Layer12.png">
            </div>
            <div class="div">
                <h1 class="menustext">Тележки для талей</h1>
                <img class="menusimg" src="../static/images/image111.png">
            </div>
            <div class="div">
                <h1 class="menustext">Буксировочные приспособления</h1>
                <img class="menusimg" src="../static/images/image116.png">
            </div>
        </div>
        <div class="pereti"><a href="katalog.html" class="pereti1">перейти в каталог</a></div>
        <div class="yashil">
            <h1>ПРИ ПОКУПКЕ РУЧНОЙ РЫЧАЖНОЙ ТАЛИ HITCH LHM 104-G ПЕРЧАТКИ В ПОДАРОК</h1>
            <div class="podrobe"><a href="tovara.html">подробнее</a></div>
        </div>
        <h1 class="lider">Лидеры продаж</h1>
        <div class="tvar">
            <div class="tavar">
                <img class="mahsul1" src="../static/images/image71.png">
                <h1 class="nomimah">Ручной рычажный подъемник LH200-G</h1>
                <div class="mah2">

                    <h1 class="mahnarx">8 100 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
            <div class="tavar">
                <img class="mahsul" src="../static/images/1231.png">
                <h1 class="nomimah1">Ремень стяжной rs professional</h1>
                <div class="mah21">
                    <h1 class="mahnarx">1 540 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
            <div class="tavar">
                <img class="mahsul12" src="../static/images/image722.png">
                <h1 class="nomimah">Ручной рычажный подъемник LH200-G</h1>
                <div class="mah2">
                    <h1 class="mahnarx">8 100 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
            <div class="tavar">
                <img class="mahsul" src="../static/images/image1113.png">
                <h1 class="nomimah">Тележка для ручных талей TR200</h1>
                <div class="mah2">

                    <h1 class="mahnarx">12 270₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
        </div>
        <div class="menu3">
            <div class="yashil2">
                <h1 class="regular">Серия Regular</h1>
                <h1 class="chotki">ХОРОШИЙ ВЫБОР ДЛЯ ЭФФЕКТИВНОЙ РАБОТЫ</h1>
                <div class="anniq"><a class="anniq2" href="tovara.html">Подробнее</a></div>
                <div class="qchiq" src="../static/images/toroz.png">

                </div>
            </div>
            <div class="tavar">
                <img class="mahsul1" src="../static/images/image71.png">
                <h1 class="nomimah">Ручной рычажный подъемник LH200-G</h1>
                <div class="mah2">

                    <h1 class="mahnarx">8 100 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
            <div class="tavar">
                <img class="mahsul" src="../static/images/1231.png">
                <h1 class="nomimah1">Ремень стяжной rs professional</h1>
                <div class="mah21">
                    <h1 class="mahnarx">1 540 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
        </div>
        <div class="menu4">
            <div class="tavar">
                <img class="mahsul1" src="../static/images/image71.png">
                <h1 class="nomimah">Ручной рычажный подъемник LH200-G</h1>
                <div class="mah2">

                    <h1 class="mahnarx">8 100 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
            <div class="tavar">
                <img class="mahsul" src="../static/images/1231.png">
                <h1 class="nomimah1">Ремень стяжной rs professional</h1>
                <div class="mah21">
                    <h1 class="mahnarx">1 540 ₽</h1>
                    <a href="sranitsa.html"><img class="plus" src="../static/images/Frame7704.png"></a>
                </div>
            </div>
            <div class="qora2">
                <h1 class="regular1">Серия Regular</h1>
                <h1 class="chotki1">ХОРОШИЙ ВЫБОР ДЛЯ ЭФФЕКТИВНОЙ РАБОТЫ</h1>
                <div class="anniq1"><a class="anniq21" href="katalog.html">Подробнее</a></div>
                <div class="qchiq1" src="../static/images/toroz.png">

                </div>
            </div>
        </div>
        <div class="menu5">
            <h1 class="hitek">о HITCH</h1>
            <div class="menu51">
                <div class="menu511">
                    <a href="novosti.html">
                        <h1 class="nasha">наше производство</h1></a>
                </div>
                </a>
                <div class="menu512">
                    <a href="novosti.html"><h1 class="nasha2">Инновационные технологии</h1></a>
                </div>
            </div>
        </div>
        <div class="menu6">
            <p class="daxxuya">Компания Hitchlifting Inc. (Texas, US)
                разрабатывает и производит прочное
                и безопасное промышленное оборудование
                для подъема грузов, в том числе для самых
                суровых условий.</p>
        </div>
        <div class="menu7">
            <div class="novla">
                <h1 class="novimki">Новости</h1>
                <div class="vsenovi">
                    <a href="novosti.html"><h1 class="vsenovitex">Все новости</h1></a>
                </div>
            </div>
            <div class="yangilila">
                <div class="yangi1">
                    <h1 class="yashilyangi">Автоматизация ООО «ДетроГаз»</h1>
                    <h1 class="yashilsana">15 сентября 2022</h1>
                </div>
                <div class="yangi2">
                    <h1 class="oqyangi">Новая технология smart protection+ </h1>
                    <h1 class="oqsana">3 августа 2022</h1>
                </div>
                <div class="yangi3">
                    <h1 class="oqyangi">открытие Академии HITCH
                        в новосибирске</h1>
                    <h1 class="oqsana">27 июля 2022</h1>
                </div>
            </div>
        </div>
        <div class="menu8">
            <div class="gdela">
                <h1 class="gde1">
                    Где купить
                </h1>
                <div class="gde2">
                    <h1>В новосибирске</h1>
                    <img class="yashsshsh" src="../static/images/yashil.png">
                </div>
            </div>
            <div class="kartalu">
                <div class="karta">
                    <div class="zvonok">
                    </div>
                </div>
            </div>
        </div>
        <div class="menu9">
            <h1 class="yozuv">Узнавайте о скидках первыми</h1>
            <div class="gmail">
                <input type="email" placeholder="Email">
                <button>подписаться</button>
            </div>
        </div>
        <footer class="suka">
            <div class="footer">

                <div class="fut1">
                    <img src="../static/images/icon.png">
                    <h2>Новосибирск</h2>
                    <h2>пн-пт 10:00 – 20:00</h2>
                    <h1>+7 (800) 000-00-10</h1>
                    <h1>hello@hitch.ru</h1>
                </div>
                <div class="fut2">
                    <h2>Каталог</h2>
                    <h1>Системы крепления грузов</h1>
                    <h1> Стропы текстильнык </h1>
                    <h1> Тали ручные рычажные </h1>
                    <h1> Тали ручные цепные </h1>
                    <h1> Тележки для талей </h1> Буксировочные приспособления</h1>
                </div>
                <div class="fut3">
                    <h2>О Hitch</h2>
                    <h1>Контакты</h1>
                    <h1> Реквизиты</h1>
                    <h1> Производство</h1>
                    <h1> Академия HITCH</h1>
                    <h1> Работа у нас</h1>
                </div>
                <div class="fut4">
                    <h2>Покупателям</h2>
                    <h1>Как оформить заказ</h1>
                    <h1> Оплата и доставка </h1>
                    <h1> Магазины</h1>
                    <h1> Сервисные центры</h1>
                </div>
                <div class="fut5">
                    <h2>Партнерам</h2>
                    <h1 style="color: #99FE00"> Личный кабинет</h1>
                    <h1> Оптовым клиентам</h1>
                    <h1>Франшиза</h1>
                </div>
            </div>
        </footer>
    </section>
{% endblock %}