{% extends 'header.html' %}
{% block css %}
  <link rel="stylesheet" href="../static/css/ofor.css">
{% endblock %}

{% block content %}



<div class="matla1">
    <h1 class="cla">Главная</h1>
    <div class="tusu"></div>
    <h1 class="lh">Корзина</h1>
</div>
<div class="hl2">Оформление заказа</div>
<div class="divla">
    <div class="chap">
 <div class="qora">
     <p>Все необходимые поля для заполения отмечены звездочкой!
<br>
         После заполнения формы вы перейдёте на страницу оплаты или при необходимости с вами свяжется менеджер для уточнения заказа.</p>
 </div>

            <input type="text" name="fname" placeholder="Контактное лицо">
            <input type="text"  name="lname" placeholder="Телефон">
        <input type="text"  name="fname" placeholder="Компания">
        <input type="text"  name="lname" placeholder="E-mail">
        <input type="text" name="fname" placeholder="Адрес доставки">
        <input type="text" name="lname" placeholder="Дата доставки">
        <div class="karta">
            <input type="text" name="fname" placeholder="тип оплаты">
            <div class="vkorzina1">
                <a href="ofor.html">Карты оплаты</a>
            </div>
            <div class="vkorzina">
                <a href="ofor.html">Счет для юр. лиц</a>
            </div>
        </div>
        <input type="text" name="fname" placeholder="комментарий к заказу">
<div class="tasdiq">
    <div class="tasrasm"></div>
    <h1>Я согласен на <span> обработку персональных  данных</span> </h1>
</div>
        <div class="vkorzina3">
            <a href="ofor.html">Оформить заказ</a>
        </div>
        <div class="ohiir">
            <p>Правила работы с корзиной (Маркетинг > Товарный маркетинг > Правила работы с корзиной) позволяют задавать различные варианты условий применения скидок (наценок) к товарам, торговым предложениям или комплектам.
                <br>На странице видим список уже созданных правил работы с корзиной, сконвертированные скидки из каталога и скидки, созданные через пресеты . Для редактирования скидок, созданных через пресеты, открывается форма соответствующего мастера, а для редактирования остальных правил - форма, описанная ниже.
               <br> Давайте создадим новое правило. Допустим, нам нужно создать скидку на футболки при их покупке от двух штук, которая действует в течение месяца. Для этого нажимаем кнопку Добавить правило.

            </p>
            <h1>Читать полностью</h1>
        </div>
    <div class="ong">
<div class="tab1">
    <h1>Ваш заказ</h1>
    <div class="vkorzina4">
        <a href="ofor.html">Оформить заказ</a>
    </div>
</div>
        <div class="orta"></div>
        <div class="hammatvar">
            <h1>Всего товаров:</h1>
            <h2>156</h2>
        </div>
        <div class="summabar">
            <h1>Итого:</h1>
            <h2>140 480 Р</h2>
        </div>
    </div>
</div>
</div>
<div class="menu9">
    <h1 class="yozuv">Узнавайте о скидках первыми</h1>
    <div class="gmail">
        <input  type="email" placeholder="Email">
        <button>подписаться</button>
    </div>
</div>
<footer class="suka">
    <div class="footer">

        <div class="fut1">
            <img src="../static/images/icon.png">
            <h2>Новосибирск</h2>
            <h2>пн-пт 10:00 – 20:00</h2>
            <h1>+7 (800) 000-00-10</h1>
            <h1>hello@hitch.ru</h1>
        </div>
        <div class="fut2">
            <h2>Каталог</h2>
            <h1>Системы крепления грузов</h1><h1> Стропы текстильнык </h1> <h1> Тали ручные рычажные </h1><h1> Тали ручные цепные </h1><h1> Тележки для талей </h1> Буксировочные приспособления</h1>
        </div>
        <div class="fut3">
            <h2>О Hitch</h2>
            <h1>Контакты</h1>
            <h1> Реквизиты</h1>
            <h1>  Производство</h1>
            <h1>  Академия HITCH</h1>
            <h1>  Работа у нас</h1>
        </div>
        <div class="fut4">
            <h2>Покупателям</h2>
            <h1>Как оформить заказ</h1>
            <h1>   Оплата и доставка </h1>
            <h1>  Магазины</h1>
            <h1> Сервисные центры</h1>
        </div>
        <div class="fut5">
            <h2>Партнерам</h2>
            <h1 style="color: #99FE00">    Личный кабинет</h1>
            <h1>    Оптовым клиентам</h1>
            <h1>Франшиза</h1>
        </div>
    </div>
</footer>
{% endblock %}