{% extends 'header.html' %}
{% block css %}
    <link rel="stylesheet" href="../static/css/sranitsa.css">
{% endblock %}

{% block content %}
<section class="home">
    <div class="matla1">
        <h1 class="cla">Каталог</h1>
        <div class="tusu"></div>
        <h1 class="sistem">Системы крепления грузов</h1>
        <div class="tusu1"></div>
        <h1 class="lh">LH200-G Таль ручная рычажная HITCH</h1>
    </div>
<div class="hl2">LH200-G Таль ручная рычажная HITCH</div>
    <div class="yulduzlar">
        <h1 class="artikul">Артикул: 5344538926</h1>
        <img class="yulduz" src="../static/images/yulduz.png">
        <h1 class="otziv">24 отзыва</h1>
    </div>
    <div class="obshitavar">
        <div class="surati">
            <div class="surati1">
            </div>
            <div class="surat2">
      <img src="../static/images/Vector38.png" class="prev">
                <img src="../static/images/Frame7718.png" class="center">
                <img src="../static/images/Vector39.png" class="next">
            </div>
        </div>
        <div class="malumoti">
            <h1 class="gruzchik">Грузоподъемность, т</h1>
            <div class="divla">
                <div class="div1" style="color: black; width: 50px; height: 50px; background-color: #99FE00; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #99FE00;">
1
                </div>
                <div class="div2"  style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
                    1,5
                </div>
                <div class="div3" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
2
                </div>
                <div class="div4" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
3
                </div>
                <div class="div5" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
6
                </div>
            </div>
            <h1 class="gruzchik">калибр цепи, мм</h1>
            <div class="divla">
                <div class="div5" style="color: black; width: 50px; height: 50px; background-color: #99FE00; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #99FE00;margin-left: -320px;">
                    6
                </div>
            </div>
            <h1 class="gruzchik">высота подъема, м</h1>

            <div class="divla">
                <div class="div1" style="color: black; width: 50px; height: 50px; background-color: #99FE00; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #99FE00;">
                    1,5
                </div>
                <div class="div2"  style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
                  3
                </div>
                <div class="div3" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
                  4,5
                </div>
                <div class="div4" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
                 6
                </div>
                <div class="div5" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
                  9
                </div>
                <div class="div6" style="color: black; width: 50px; height: 50px; background-color: #fff; text-align: center; font-size: 40px; display: flex; justify-content: center; align-content: center; border: 3px solid #D0D0D0;">
                 12
                </div>
            </div>
            <h1 class="gruzchik">Характеристики</h1>
            <div class="xarakter">
                <div class="xarak1">
                    Серия.......................................
                    Механический класс...............
                    Условия эксплуатации............

                    Гарантия..................................
                </div>
                <div class="xarak2">
                    Professional
                    М4
                    Сложные, для высоких нагрузок
                    5 лет
                </div>

            </div>
            <div class="vse">
                Все характеристики
            </div>
        </div>
            <div class="sotib">
                <div class="sotib1">
 <h1 class="sena">12 300 ₽</h1>
                    <h1 class="somo">Самовывоз</h1>
                    <h1 class="iz">из 1 магазина сегодня</h1>
                    <h1 class="punkt">из 28 пунктов выдачи завтра или позже</h1>
                    <h1 class="dostavka">Доставка</h1>
                    <h1 class="ss"></h1>
                    <div class="vkorzina">
                        <a href="korzina.html">В корзину</a>
                    </div>
                    <div class="vkup">
                        <a href="korzina.html">Купить в один клик</a>
                    </div>
                </div>
                <div class="sotib2">
   <h1 class="nujna">Нужна Консультация?</h1>
                    <h1 class="mi">Мы поможем подобрать подходящее оборудование и ответим на любые вопросы</h1>
                </div>
                <div class="vkup1">
                    <a href="korzina.html">Купить в один клик</a>
                </div>
            </div>

    </div>
<div class="sola1">
    <h1 class="otva">О товаре</h1>
    <h1 class="xrak">Характеристики</h1>
    <h1 class="otziv">Отзывы</h1>
    <h1 class="dokumnet">Документы</h1>
</div>
<div class="matnla2">
<p>Ручная цепная таль HITCH CH 200-G серии PROFESSIONAL - это профессиональная техника, срок эксплуатации которой в тяжелых условиях превышает срок эксплуатации оборудования с аналогичным функционалом.
    Имеет уникальный серийный номер и маркировку, что позволяет точно и быстро определить характеристики и тип оборудования.
    Корпус изготовлен из ударопрочной штампованной стали. Термически обработанные несущие пластины обеспечивают высокую жесткость для сохранения формы корпуса тали. Крюки изготовлены из легированной стали. При чрезмерной нагрузке не разрушаются, а постепенно растягиваются, указывая на перегруз.</p>
<h1>Читать полностью</h1>
</div>
    <div class="oxirro">
<div class="obzor">Обзоры</div>
        <div class="oxir1">
<img class="player" src="../static/images/Polygon1.png">
        </div>
        <div class="xoir2">
            <img class="player" src="../static/images/Polygon2.png">
        </div>
    </div>
    <div class="popu">
        <h1 class="popularni">Популярное</h1>
        <div class="popla">
            <div class="pop1"> <h1>Таль ручная рычажная</h1></div>
        <div class="pop1"><h1>тележки для талей</h1></div>
            <div class="pop1"><h1>с цепным приводом</h1></div>
            <div class="pop1"><h1>тележки для талей</h1></div>
            <div class="pop1"> <h1>Magnus-Profi TLB-1000</h1></div>
            <div class="pop1"> <h1>с цепным приводом</h1></div>
            <div class="pop1"> <h1>Таль ручная рычажная</h1></div>
            <div class="pop1"><h1>Таль ручная рычажная</h1></div>
            <div class="pop1"><h1>тележки для талей</h1></div>
            <div class="pop1"><h1>с цепным приводом</h1></div>
            <div class="pop1"><h1>тележки для талей</h1></div>
            <div class="pop1"> <h1>с цепным приводом</h1></div>

        </div>
    </div>
    <div class="qorala">
        <div class="vi1">Вы недавно смотрели</div>
        <div class="oqla">
            <div class="oq1">
     <div class="qolqopla"></div>
                <div class="perchtka">Перчатки рабочие HITCH Professional </div>
                <div class="narxla">9 959 ₽</div>
            </div>
            <div class="oq2">
                <div class="qolqopla1"></div>
                <div class="perchtka">Перчатки рабочие HITCH Professional </div>
                <div class="narxla">9 959 ₽</div>
            </div>
            <div class="oq3">
                <div class="qolqopla"></div>
                <div class="perchtka">Перчатки рабочие HITCH Professional </div>
                <div class="narxla">9 959 ₽</div>
            </div>
        </div>
    </div>
    <div class="menu9">
        <h1 class="yozuv">Узнавайте о скидках первыми</h1>
        <div class="gmail">
            <input  type="email" placeholder="Email">
            <button>подписаться</button>
        </div>
    </div>
<footer class="suka">
    <div class="footer">
        <div class="fut1">
            <img src="../static/images/icon.png">
            <h2>Новосибирск</h2>
            <h2>пн-пт 10:00 – 20:00</h2>
            <h1>+7 (800) 000-00-10</h1>
            <h1>hello@hitch.ru</h1>
        </div>
        <div class="fut2">
            <h2>Каталог</h2>
            <h1>Системы крепления грузов</h1><h1> Стропы текстильнык </h1> <h1> Тали ручные рычажные </h1><h1> Тали ручные цепные </h1><h1> Тележки для талей </h1> Буксировочные приспособления</h1>
        </div>
        <div class="fut3">
            <h2>О Hitch</h2>
            <h1>Контакты</h1>
            <h1> Реквизиты</h1>
            <h1>  Производство</h1>
            <h1>  Академия HITCH</h1>
            <h1>  Работа у нас</h1>
        </div>
        <div class="fut4">
            <h2>Покупателям</h2>
            <h1>Как оформить заказ</h1>
            <h1>   Оплата и доставка </h1>
            <h1>  Магазины</h1>
            <h1> Сервисные центры</h1>
        </div>
        <div class="fut5">
            <h2>Партнерам</h2>
            <h1 style="color: #99FE00">    Личный кабинет</h1>
            <h1>    Оптовым клиентам</h1>
            <h1>Франшиза</h1>
        </div>
    </div>
</footer>
</section>
{% endblock %}