{% extends 'header.html' %}
{% block css %}
   <link rel="stylesheet" href="../static/css/tovara.css">
{% endblock %}
 {% block content %}

<section class="section home">
        <h6 class="soz"><span class="soz2">Надежно. А как иначе?</span>
            Профессиональное оборудования</h6>
</section>
<section class="glavniya">
    <div class="sozla">
    <h1 class="glavni">Главная</h1>
    <div class="tosiq"></div>
    <h1 class="pravki">Правки типовой страницы</h1>
    </div>
    <div class="rosiya">Производство в России с 2016 г.</div>
    <div class="malum">
        <p>Компания Hitchlifting Inc.(Texas, US) разрабатывает и производит прочное и безопасное промышленное оборудование для подъема грузов, в том числе для самых суровых условий. Функциональность по честной цене — наш базовый принцип. Привносим на рынок совершенно новые стандарты сервиса, экспертности, скорости и ассортимента и занимаем лидирующие позиции по поставке грузоподъемного оборудования в России.
            Основателем направления стала компания  Total Oilfield Equipment, LLC. В процессе снабжения инструментами сферы нефтедобывающей промышленности стало очевидно, что существует большой спрос на подъемные механизмы. Это сопутствующее оборудование, которое потребителям было бы удобно закупать у одного поставщика вместе с другими инструментами. Работая в отрасли промышленного оборудования, компания Total Oilfield Equipment, LLC...</p>
    <h1>Читать полностью</h1>
    </div>
</section>
<section class="praekt">
    <div class="proekt">Проекты</div>
    <div class="rasmla">
    <div class="rasm1"><h1>Автоматизация ооо  «Детрогаз»</h1></div>
    <div class="rasm"><h1>Автоматизация ооо  «Детрогаз»</h1></div>
    </div>
</section>
<section class="novosti">
<h1 class="nowosti">Новости и статьи</h1>
    <div class="qator1">
        <div class="rasmcha1">
            <a href="novosti.html">Автоматизация ООО 
                «ДетроГаз»</a>
            <h1>15 сентября 2022</h1>
        </div>
        <div class="rasmcha2"> <a href="novosti.html">Новая технология smart protection+ </a>
        <h1>3 августа 2022</h1></div>
        <div class="rasmcha3"><a href="novosti.html">открытие Академии HITCH
            в новосибирске</a>
        <h1>27 июля 2022</h1></div>
    </div>
    <div class="qator1">
        <div class="rasmcha1">
            <a href="novosti.html">Автоматизация ООО 
                «ДетроГаз»</a>
            <h1>15 сентября 2022</h1>
        </div>
        <div class="rasmcha2"> <a href="novosti.html">Новая технология smart protection+ </a>
            <h1>3 августа 2022</h1></div>
        <div class="rasmcha3"><a href="novosti.html">открытие Академии HITCH
            в новосибирске</a>
            <h1>27 июля 2022</h1></div>
    </div>
</section>
<section class="storki">
    <div class="storka">Сотрудники</div>
    <div class="opoqila">
    <div class="opoqi">
        <div class="opoqirasm"></div>
        <div class="opoqitex">
        <div class="petorva">Петрова Ксения</div>
        <div class="petnomer">+7 901 234-51-78</div>
        <div class="petgmail">petrova.K@hitch.ru</div>
        <p>Специалист по поддержке клиентов
            Напрвление сила знаний</p>
        <div class="vkorzina">
            <a href="korzina.html">Связаться</a>
        </div>
        </div>
    </div>
        <div class="opoqi1">
            <div class="opoqirasm"></div>
            <div class="opoqitex">
                <div class="petorva">Петрова Ксения</div>
                <div class="petnomer">+7 901 234-51-78</div>
                <div class="petgmail">petrova.K@hitch.ru</div>
                <p>Специалист по поддержке клиентов
                    Напрвление сила знаний</p>
                <div class="vkorzina">
                    <a href="korzina.html">Связаться</a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu9">
        <h1 class="yozuv">Узнавайте о скидках первыми</h1>
        <div class="gmail">
            <input  type="email" placeholder="Email">
            <button>подписаться</button>
        </div>
    </div>
    <footer class="suka">
        <div class="footer">

            <div class="fut1">
                <img src="../static/images/icon.png">
                <h2>Новосибирск</h2>
                <h2>пн-пт 10:00 – 20:00</h2>
                <h1>+7 (800) 000-00-10</h1>
                <h1>hello@hitch.ru</h1>
            </div>
            <div class="fut2">
                <h2>Каталог</h2>
                <h1>Системы крепления грузов</h1><h1> Стропы текстильнык </h1> <h1> Тали ручные рычажные </h1><h1> Тали ручные цепные </h1><h1> Тележки для талей </h1> Буксировочные приспособления</h1>
            </div>
            <div class="fut3">
                <h2>О Hitch</h2>
                <h1>Контакты</h1>
                <h1> Реквизиты</h1>
                <h1>  Производство</h1>
                <h1>  Академия HITCH</h1>
                <h1>  Работа у нас</h1>
            </div>
            <div class="fut4">
                <h2>Покупателям</h2>
                <h1>Как оформить заказ</h1>
                <h1>   Оплата и доставка </h1>
                <h1>  Магазины</h1>
                <h1> Сервисные центры</h1>
            </div>
            <div class="fut5">
                <h2>Партнерам</h2>
                <h1 style="color: #99FE00">    Личный кабинет</h1>
                <h1>    Оптовым клиентам</h1>
                <h1>Франшиза</h1>
            </div>
        </div>
    </footer>
</section>
 {% endblock %}